<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1 class="display-4">About US</h1>
                <p class="lead">We are working since from last 20 years..</p>
                <hr class="my-4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus recusandae dolorem, molestias atque distinctio repellendus corporis quod officia culpa magni ipsam optio saepe amet nihil omnis iste unde inventore fuga.</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
              </div>
        </div>
    </div>
</div>
