<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand">CTS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLinkActive="active" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link" routerLink="/service" routerLinkActive="active">SERVICES</a>
        <a class="nav-link" routerLink="/gallery" routerLinkActive="active">GALLERY</a>
        <a class="nav-link" routerLink="/aboutus" routerLinkActive="active">ABOUTUS</a>
        <a class="nav-link" routerLink="/login" routerLinkActive="active">LOGIN</a>
        <a class="nav-link" routerLink="/register" routerLinkActive="active">REGISTER</a>

      </div>
    </div>
  </nav>
 